.top-nav-container {
    background-color: #1F2937;
    color: white
}

/* For whatever reason, you can't get the items on the right to appear side by side. You should when you aren't cranky. */
ul {
    list-style-type: none
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}


